# Imports

In [1]:
import pandas as pd

# Read CSV

In [32]:
raw_data = pd.read_csv('../raw_data/202306-citibike-tripdata.csv')

C:\Users\AmirMohammd\AppData\Local\Temp\ipykernel_9292\944485695.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_data = pd.read_csv('../raw_data/202306-citibike-tripdata.csv')

In [33]:
raw_data.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [34]:
missing_values = raw_data.isnull().sum()

In [35]:
missing_values

ride_id                  0
rideable_type            0
started_at               0
ended_at                 0
start_station_name    1972
start_station_id      1972
end_station_name      7808
end_station_id        7808
start_lat                0
start_lng                0
end_lat               2726
end_lng               2726
member_casual            0
dtype: int64

In [8]:
raw_data.shape

(3560259, 13)

In [21]:
test=raw_data.dropna()

In [22]:
test.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

## 7,859 records was deleted cuz of the whole missing data

In [24]:
test.shape

(3552400, 13)

# end _lat and end_lng

In [25]:
raw_data.dropna(subset=['end_lat'], inplace=True)

In [30]:
raw_data.shape

(3557533, 13)

In [31]:
raw_data.isnull().sum()

ride_id                  0
rideable_type            0
started_at               0
ended_at                 0
start_station_name    1972
start_station_id      1972
end_station_name      5133
end_station_id        5133
start_lat                0
start_lng                0
end_lat                  0
end_lng                  0
member_casual            0
dtype: int64

# end_station_name

In [36]:
raw_data.shape

(3560259, 13)

In [37]:
raw_data.dropna(subset=['end_station_name'], inplace=True)

In [38]:
raw_data.isnull().sum()

ride_id                0
rideable_type          0
started_at             0
ended_at               0
start_station_name     0
start_station_id       0
end_station_name       0
end_station_id         0
start_lat              0
start_lng              0
end_lat               51
end_lng               51
member_casual          0
dtype: int64

# Change Types

In [10]:
df = raw_data.drop(['rideable_type', 'start_station_name', 'end_station_name', 'member_casual'], axis=1)
df['start_station_id'] = pd.to_numeric(df['start_station_id'], errors='coerce')
df['end_station_id'] = pd.to_numeric(df['end_station_id'], errors='coerce')
df['ended_at'] = pd.to_datetime(df['ended_at'])
df['started_at'] = pd.to_datetime(df['started_at'])

df.dtypes

ride_id                     object
started_at          datetime64[ns]
ended_at            datetime64[ns]
start_station_id           float64
end_station_id             float64
start_lat                  float64
start_lng                  float64
end_lat                    float64
end_lng                    float64
dtype: object

In [11]:
df

,ride_id,started_at,ended_at,start_station_id,end_station_id,start_lat,start_lng,end_lat,end_lng
0,984F50BCBC76DD9A,2023-06-11 06:54:21,2023-06-11 07:12:28,7382.04,7800.03,40.785000,-73.972834,40.813358,-73.956461
1,03E3D62E7FB76B05,2023-06-19 15:23:11,2023-06-19 16:00:05,7204.08,5561.04,40.777958,-73.945928,40.723180,-73.994800
2,8E7EE421A0B8BBF3,2023-06-06 16:07:05,2023-06-06 16:15:14,6575.03,6004.07,40.755357,-73.967489,40.738177,-73.977387
3,24D66A0C46493CB1,2023-06-26 19:52:23,2023-06-26 19:55:47,5794.05,5944.01,40.731735,-73.961239,40.735640,-73.958660
4,E944882A074B8F61,2023-06-05 08:57:57,2023-06-05 09:13:36,6498.10,6248.06,40.753231,-73.970325,40.745168,-73.986831
...,...,...,...,...,...,...,...,...,...
3560254,E6B04D2FD398493E,2023-06-22 18:06:15,2023-06-22 18:19:31,5755.14,5335.03,40.731437,-73.994903,40.716226,-73.982612
3560255,A9C0665FC912A63B,2023-06-12 09:16:47,2023-06-12 09:42:18,5340.01,6227.02,40.716967,-73.956388,40.744697,-73.935404
3560256,C6B241D76A0137FD,2023-06-11 17:23:58,2023-06-11 18:02:36,7886.02,6876.04,40.818299,-73.960405,40.765909,-73.976342
3560257,B218070FEA49C6B3,2023-06-27 18:16:21,2023-06-27 18:33:12,6578.01,7059.01,40.755942,-74.002116,40.771497,-73.990460
3560258,69FB0F587F4022B6,2023-06-02 14:25:05,2023-06-02 14:32:29,5721.01,6072.11,40.730477,-73.999061,40.740983,-74.001702

In [12]:
df['trip_duration_minutes'] = (df['ended_at'] - df['started_at']).dt.seconds / 60

In [13]:
df

,ride_id,started_at,ended_at,start_station_id,end_station_id,start_lat,start_lng,end_lat,end_lng,trip_duration_minutes
0,984F50BCBC76DD9A,2023-06-11 06:54:21,2023-06-11 07:12:28,7382.04,7800.03,40.785000,-73.972834,40.813358,-73.956461,18.116667
1,03E3D62E7FB76B05,2023-06-19 15:23:11,2023-06-19 16:00:05,7204.08,5561.04,40.777958,-73.945928,40.723180,-73.994800,36.900000
2,8E7EE421A0B8BBF3,2023-06-06 16:07:05,2023-06-06 16:15:14,6575.03,6004.07,40.755357,-73.967489,40.738177,-73.977387,8.150000
3,24D66A0C46493CB1,2023-06-26 19:52:23,2023-06-26 19:55:47,5794.05,5944.01,40.731735,-73.961239,40.735640,-73.958660,3.400000
4,E944882A074B8F61,2023-06-05 08:57:57,2023-06-05 09:13:36,6498.10,6248.06,40.753231,-73.970325,40.745168,-73.986831,15.650000
...,...,...,...,...,...,...,...,...,...,...
3560254,E6B04D2FD398493E,2023-06-22 18:06:15,2023-06-22 18:19:31,5755.14,5335.03,40.731437,-73.994903,40.716226,-73.982612,13.266667
3560255,A9C0665FC912A63B,2023-06-12 09:16:47,2023-06-12 09:42:18,5340.01,6227.02,40.716967,-73.956388,40.744697,-73.935404,25.516667
3560256,C6B241D76A0137FD,2023-06-11 17:23:58,2023-06-11 18:02:36,7886.02,6876.04,40.818299,-73.960405,40.765909,-73.976342,38.633333
3560257,B218070FEA49C6B3,2023-06-27 18:16:21,2023-06-27 18:33:12,6578.01,7059.01,40.755942,-74.002116,40.771497,-73.990460,16.850000
3560258,69FB0F587F4022B6,2023-06-02 14:25:05,2023-06-02 14:32:29,5721.01,6072.11,40.730477,-73.999061,40.740983,-74.001702,7.400000

# Create In/Out Dataframes

In [6]:
in_df = df.drop(['started_at', 'start_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng'], axis=1)
in_df['time'] = df['ended_at']
in_df = in_df[(in_df['time'] >= '2023-06-01 00:00:00') & (in_df['time'] <= '2023-06-30 23:59:59')]
in_df['station_id'] = df['end_station_id']
in_df = in_df.drop(['ended_at', 'end_station_id'], axis=1)

out_df = df.drop(['ended_at', 'end_station_id','start_lat', 'start_lng', 'end_lat', 'end_lng'], axis=1)
out_df['time'] = df['started_at']
out_df = out_df[(out_df['time'] >= '2023-06-01 00:00:00') & (out_df['time'] <= '2023-06-30 23:59:59')]
out_df['station_id'] = df['start_station_id']
out_df = out_df.drop(['started_at', 'start_station_id'], axis=1)

In [16]:
#Filter trips with duration less than 2 minutes
short_trips = df[df['trip_duration_minutes'] < 2]

# Filter trips with duration greater than 90 minutes
long_trips = df[df['trip_duration_minutes'] > 90]

# Count the filtered rows
short_trip_count = len(short_trips)
long_trip_count = len(long_trips)

print(f"Trips less than 2 minutes: {short_trip_count}")
print(f"Trips greater than 90 minutes: {long_trip_count}")

Trips less than 2 minutes: 233386
Trips greater than 90 minutes: 21847

# Chunk each dataframe by timestep amount

In [7]:
timestep = 15
target_len = len(pd.DataFrame({'time': pd.date_range('2023-06-01 00:00:00',
                                            '2023-06-30 23:59:59',
                                            freq=str(timestep)+'min')}).set_index('time'))
target_len

In [8]:
out_timeseries = out_df.groupby([pd.Grouper(freq=str(timestep)+'T', key='time'), 'station_id'])
out_timeseries = out_timeseries['ride_id'].count().unstack('station_id', fill_value=0)
out_timeseries = out_timeseries.reindex(sorted(out_timeseries.columns), axis=1)
print('Out Timeseries length:', len(out_timeseries))
print(print(pd.Series(out_timeseries.values.ravel()).describe()))

in_timeseries = in_df.groupby([pd.Grouper(freq=str(timestep)+'T', key='time'), 'station_id'])
in_timeseries = in_timeseries['ride_id'].count().unstack('station_id', fill_value=0)
in_timeseries = in_timeseries.reindex(sorted(in_timeseries.columns), axis=1)
print('\nIn Timeseries:', len(in_timeseries))
print(print(pd.Series(in_timeseries.values.ravel()).describe()))

combined_timeseries = pd.concat([in_timeseries, out_timeseries], axis=0)
combined_timeseries = combined_timeseries.groupby('time').sum()
print('\nCombined Timeseries:', len(combined_timeseries))
combined_timeseries = combined_timeseries.reindex(sorted(combined_timeseries.columns), axis=1)
print(print(pd.Series(combined_timeseries.values.ravel()).describe()))

# Write each dataframe to CSV

In [9]:
out_timeseries.to_csv('../processed_data/outbound.csv')

in_timeseries.to_csv('../processed_data/inbound.csv')

combined_timeseries.to_csv('../processed_data/combined.csv')

# Get all Unique Stations and write to CSV

In [10]:
inbound_stations = set(in_timeseries.columns)
pd.DataFrame({'station_id': list(inbound_stations)}).to_csv('../processed_data/inbound_stations.csv', index=False)

outbound_stations = set(out_timeseries.columns)
pd.DataFrame({'station_id': list(outbound_stations)}).to_csv('../processed_data/outbound_stations.csv', index=False)

inbound_stations.update(outbound_stations)
pd.DataFrame({'station_id': list(inbound_stations)}).to_csv('../processed_data/stations.csv', index=False)